@charset "UTF-8";

/* 리뷰 보기 */
#reviewCont{
	width:360px;
	height:600px;
	overflow:auto;
	border-radius:20px;
	background-color:#fff;
	position:absolute;
	top:20px;
	left:30px;
	margin-top::-50px;
	margin-left::-150px;
	padding:10px;
	z-index:1000; /* position 속성이 absolute 이거나 fixed 이면 요소가 겹쳐지는 순서를 제어할 수 있다. 갑싱 큰것이 먼저 나온다.*/
}

/* 리뷰수정 */
#reviewEdit{
	width:360px;
	height:600px;
	border-radius:20px;
	background-color:#fff;
	position:absolute;
	top:20px;
	left:30px;
	margin-top:-50px;
	margin-left:-150px;
	padding:10px;
	z-index:1000;
}

/* 리뷰 쓰기 */
#reviewMod{
	width:360px;
	height:600px;
	border-radius:20px;
	background-color:#fff;
	position:absolute;
	top:20px;
	left:30px;
	margin-top::-50px;
	margin-left::-150px;
	padding:10px;
	z-index:1000; /* position 속성이 absolute 이거나 fixed 이면 요소가 겹쳐지는 순서를 제어할 수 있다. 갑싱 큰것이 먼저 나온다.*/
}

/* 댓글수정 모달 */
#rvr_edit{
	width:300px;
	height:230px;
	border-radius:20px;
	background-color:#d6dee2;
	position:absolute;
	top:130px;
	left:52px;
	margin-top::-50px;
	margin-left::-150px;
	padding:10px;
	z-index:1000; /* position 속성이 absolute 이거나 fixed 이면 요소가 겹쳐지는 순서를 제어할 수 있다. 갑싱 큰것이 먼저 나온다.*/
}

/* 별점 */
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}

.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-image: url('/resources/image/starrate.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    background-color: #c0c0c0;
}
.rating .rate_radio:checked + label {
    background-color: #f9f200;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: white;
	font-size: 13px;
	line-height: normal;
	vertical-align: middle;
	background-color: #007bff;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: 5px;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox2 label {
	display: inline-block;
	padding: .5em .75em;
	color: white;
	font-size: 13px;
	line-height: normal;
	vertical-align: middle;
	background-color: #007bff;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: 5px;
}

.filebox2 input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.r_days{
	list-style:none;	
}
.r_days li{
	display:inline;
	margin-right:10px;
}
.form-group{
	margin-top:10px;
}


/* 지도 내 클릭 카테고리 */
.category, .category *{
	margin:0;padding:0;color:#000;
}   
.category {
	position:absolute;overflow:hidden;top:570px;left:120px;width:210px;height:50px;z-index:100;font-size:12px;text-align:center;
}
.category li{
	list-style:none;float:left;width:50px;height:45px;cursor:pointer;margin-right:20px;
}
