<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 <typeAliases>
 
 <!-- MemberVO  빈클래스 객체 별칭 m생성. m을 mybatis 매퍼태그에서 사용하게함. -->
 <typeAlias type="com.hungry.spring.member.vo.MemberVO" alias="m"/>
 
 <!-- BoardVO 빈클래스 객체 별칭 b생성. -->
 <typeAlias type="com.hungry.spring.board.vo.BoardVO" alias="b"/>
 
 <!-- BoardVO 빈클래스 객체 별칭 r생성. -->
 <typeAlias type="com.hungry.spring.replies.vo.ReplyVO" alias="r"/>
 
 <!-- ReviewVO 빈클래스 객체 별칭 rv생성. -->
 <typeAlias alias="rv" type="com.hungry.spring.review.vo.ReviewVO"/>

 <!-- VisitVO 빈클래스 객체 별칭 c생성. -->
 <typeAlias alias="c" type="com.hungry.spring.counter.vo.CounterVO"/>

 <!-- RvReplyVO 빈클래스 객체 별칭 rvr생성. -->
 <typeAlias alias="rvr" type="com.hungry.spring.rvreply.vo.RvReplyVO"/>

 <!-- DibsVO 빈클래스 객체 별칭 d생성. -->
 <typeAlias alias="d" type="com.hungry.spring.dibs.vo.DibsVO"/>
 	
 </typeAliases>
</configuration>